.wrap {width: 100%; max-width: 700px; margin:4rem auto; line-height: 1.5; text-align: center;}
.wrap > .title {background-color: #111; color: #f8f8f8; text-align: center; display: inline-block; padding:0.25rem;}
.wrap > p {margin: 2rem 0; text-align: justify;}
.wrap > .blockquote {border-left:5px solid #ccc; background-color: #eee; padding: 1.5rem; text-align: left;}

.navs {width: 100%; background-color: #111; color:#f8f8f8; text-align: center; 
	padding: 0.5rem 1rem; position: fixed; z-index: 1000; font-size: 0.75rem;
display: flex;}
/* flex: 0,1,2(flex-grow) 0,1(flex-shrink) 25%(flex-basis); */
.navs > li {cursor: pointer; padding:0.5rem 0; flex: 1 1 10%; }
.navs > li:hover {background-color: #bbb; color: #111;}



.mains {width: 100%; height: 80%; background: url(../img/coffeehouse.jpg) no-repeat center; background-size: cover; display:flex; justify-content: space-between; align-items: flex-end;}

.main_tit {color: #fff; font-size: 10vw; align-self: center;}
.main_time {padding:0.25rem 0.5rem; background-color: #111; color: #f8f8f8; margin:1rem;}
.main_addr {color: #f8f8f8; margin: 1rem;}

.abouts > .about_time {margin: 1rem 0;}

.menu_tab {box-shadow: 0 0 10px rgba(0,0,0,0.5); overflow: hidden; margin-top: 2rem;}
.menu_tab > .tabs {box-shadow: 0 0 10px rgba(0,0,0,0.5); display: flex;}
.menu_tab > .tabs > li {flex:1 1 50%; margin:0.25rem 0.5rem; cursor: pointer;}
.tab_active {background-color: #999; color:#fff;}

.menu_tab > div {text-align: left; padding:1rem;}
ul.menu_cont {margin: 1.5rem 0;}
ul.menu_cont > li.title {margin-bottom: 0.75rem;}
ul.menu_cont > li.cont {font-size: 0.875rem; color: #999;}
.drink {display:none;}